.Remove {
  color: Red;
  background-color: #e8e8e8;
  padding: 1em 1em 1em 1em;
  border-radius: .4em;
  display: inline-block;
  width: 19%;
  margin: .4em .4em .4em .4em;
  text-align: center;
  cursor: pointer;
  float: left;
}

.Remove:hover {
  background-color: #c9c9c9;
}
